# PostgreSQL
POSTGRES_USER=saas_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=saas_clinica
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Testes
DATABASE_TEST_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/saas_clinica_test

# Redis
REDIS_URL=redis://localhost:6379
